h1,
h2,
h3,
p,
button,
input {
  font-family: fantasy;
}

.container {
  margin: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  border-radius: 10px;
  border-style: solid;
}

.buttons {
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.buttons .guess {
  background-color: green;
  color: white;
}

.buttons .guess:hover {
  background-color: lightgreen;
}

.buttons .restart:hover {
  background-color: lightgoldenrodyellow;
}

.buttons .restart {
  background-color: red;
  color: black;
}

.buttons .guess,
.restart {
  width: 100px;
  font-size: large;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.win,
.lose {
  display: none;
}

.win-image {
  width: 300px;
  height: 300px;
  animation-name: tilt-in-right-1;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.lose-image {
  width: 300px;
  height: 300px;
  animation-name: roll-in-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.win-animation {
  color: #3079ed;
  animation-name: focus-in-contract;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.win h2 {
  color: red;
  font-size: 28px;
  text-align: center;
}

.lose h2 {
  color: blue;
}
